#logo{
    background-color: rgb(46, 47, 48) ;
    height: 80px;
    width: 100%;
  
}
table{
    position: relative;
    bottom: 25px;
}
img{
    height:75px;
    width: 110px;
}
p{
    font-family: monospace;
    font-size: 40px;
    color: white;
    position: relative;
    left: 500px;

}
#parent
{
    background-color: rgb(208, 209, 195);
padding: 20px;
height: 100%;
display: grid;
grid-template-columns: 300px 300px 300px 300px  ;
grid-template-rows: 200px 200px 200px ;
row-gap: 10px;
column-gap: 30px;

}
#parent > div{
   
    background-color: rgb(57, 64, 64);
    border-radius: 10px;
  
    margin: 20px;
 

}
 #div2
{
    grid-row: 1/4;
  

}
#div1{
    grid-column: 2/5;
    height: 50px;
    width:100px;
}

#div6
{
    grid-column: 2/5;
} 
input{
    font-size: x-large;
    background-color:rgb(57, 64, 64) ;
    color:white;
    border-radius: 10px;
    grid-column: 2/5;
    height: 40px;
    width:600px ;
    position: relative;
    top: 30px;
    left:150px;
}


#div3,#div4,#div5
{
position: relative;
bottom: 40px;
}
